$body-font-stack: Helvetica, Arial, sans-serif;
$head-font-stack: Garamond, Georgia, serif;

@mixin border-radius ($r1, $r2, $r3, $r4) {
  -webkit-border-radius: $r1 $r2 $r3 $r4;
     -moz-border-radius: $r1 $r2 $r3 $r4;
      -ms-border-radius: $r1 $r2 $r3 $r4;
          border-radius: $r1 $r2 $r3 $r4;
}

@mixin box-shadow($xoffset, $yoffset, $blur, $color) {
  -webkit-box-shadow: $xoffset $yoffset $blur $color;
     -moz-box-shadow: $xoffset $yoffset $blur $color;
          box-shadow: $xoffset $yoffset $blur $color;
}

@mixin clearfix() {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
}

body {
  background-color: #ddd;
  padding: 1em 1em 1em 1em;
}

main {
  font-family: $body-font-stack;
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  padding: 1em 1em 2em 1em;
  margin: 0 auto 0 auto;
  @include box-shadow(0.25em, 0.5em, 0.5em, #aaa);
  @include border-radius(1em, 1em, 1em, 1em);
  color: #333;
}

strong {
  color: #456;
}

header {
  color: #eff7ff;
  background-color: #69c;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  text-shadow: -1px -1px #456;
  @include border-radius(0.5em, 0.5em, 0, 0);

  h1 {
    margin: .25em 0 .25em 0;
  }
}

nav {
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: .25em 0 .25em 0;
  background-color: #bdf;
  color: #456;
  text-shadow: 1px 1px 1px #def;


  ul {
    padding: 0 0 0 1em;
    margin-top: .5em;

    strong {
      padding-right: 1em;
    }

    li {
      display: inline;
      margin: 0 .5em 0 0;

      a {
        color: #15a;
        text-shadow: none;
      }

      a:hover {
        color: #00b;
      }
    }
  }
}

h1, h2 {
  font-family: $head-font-stack;
}

section {

  a {
    color: #15a;
  }

  a:hover {
    color: #00b;
  }

  h2 {
    color: #345;
    font-size: 1.25em;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #999;
    padding-bottom: .5em;
  }

  ul {
    clear: both;
    list-style-type: none;
    padding-left: 0;

    li {
      margin: .25em 0 .25em 0;
    }
  }
}

#toggleButton:after {
  @include clearfix();
}

#deleteButton {
  margin-left: 1em;
}

#toggleButton {
  margin-bottom: 1em;
}

form {

  button {
    margin: .5em 0 .5em 0;
    position: relative;
    left: 160px;
  }

  p {
    float: left;
    width: 9em;
    margin: 0 1em 0 0;
    text-align: right;
  }

  .warning {
    margin-left: .75em;
    width: auto;
    font-size: .75em;
    color: #990000;
  }

  label {
    width: 100%;
    height: 2em;
    display: block;
    margin: .25em 0 .25em 0;
  }

  input {
    width: 200px;
    float: left;
  }
}

footer {
  font-style: italic;
  color: #555;
  font-size: .85em;
  text-align: center;
  box-sizing: border-box;
  margin: 3em 0 0 0;
  padding: 1em 1em 0 1em;
  border-top: 1px solid #999;

  a {
    color: #15a;
  }
}

.nav-tabs {
  border-color: #999;
  margin-top: 1em;

  li {
    margin-right: .25em;

    a {
      border-color: #999;
      background-color: #eee;
      color: #15a;
      font-weight: 500;
    }

    a:hover {
      border-color: #999;
      color: #00b;
      text-decoration: underline;
    }
  }

  li.active a {
    border-color: #999 #999 transparent #999;
    color: #15a;
  }

  li.active a:hover {
    border-color: #999 #999 transparent #999;
    color: #15a;
    text-decoration: none;
  }

  li.active a:focus {
    border-color: #999 #999 transparent #999;
    color: #15a;
  }
}

.tab-pane {
  padding-top: 2em;
}
