

body {
  background-color: #ccc;
}

main {
  font-family: sans-serif;
  background-color: #fff;
  width: 800px;
  padding: 1em 1em 2em 1em;
  margin: 0 auto 0 auto;
}

header {
  color: #fff;
  background-color: #69c;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
}

nav {
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: .25em 0 .25em 0;
  background-color: #bdf;
}

nav ul {
  padding: 0 0 0 1em;
}

nav ul li {
  display: inline;
  margin: 0 .5em 0 0;
}

h1, h2 {
  font-family: serif;
}

section ul li {
  margin: .25em 0 .25em 0;
}

label {
  width: 360px;
  display: block;
  margin: .25em 0 .25em 0;
}

input {
  width: 200px;
  float: right;
}

input:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
}

button {
  margin: .5em 0 .5em 0;
  position: relative;
  left: 160px;
}
