<h2>Create New User Form</h2>
<form>
  <label> First name    <input type="text" name="firstName" ng-model="user.firstName"></input></label>
  <label> Last name     <input type="text" name="lastName" ng-model="user.lastName"></input></label>
  <label> Phone number  <input type="text" name="phone" ng-model="user.phone"></input></label>
  <label> Email address <input type="text" name="email" ng-model="user.email"></input></label>
  <button type="submit" value="submit" ng-click="createUser(user)"> Submit </button>
</form>
