<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8" />
    <title>Users List - Onboarding (Ronald Pepmeyer)</title>
    <link rel="stylesheet" href="../sass/main.css" />

  </head>

  <body>
    <main>

      <header>
        <h1>Ronald Pepmeyer Onboarding Project</h1>
      </header>

      <nav>
        <ul>
          <li><a href="../partials/user_profile.html">User Profile</a></li>
          <li><a href="../partials/users_list.html">Users List</a></li>
          <li><a href="../partials/create_new_user.html">Create New User</a></li>
          <li><a href="../partials/edit_user.html">Edit User</a></li>
        </ul>
      </nav>

      <section>
        <h2>Users List</h2>
        <ul>
          <li><strong>Beasley, Horace</strong> hbeaseley@example.com </li>
          <li><strong>Lincoln, Abe</strong> alincoln@example.com </li>
          <li><strong>Smedley, Mildred</strong> msmedley@example.com </li>
          <li><strong>Smith, John</strong> jsmith@example.com </li>
          <li><strong>Solo, Han</strong> hsolo@example.com </li>
          <li><strong>Washington, George</strong> gwashington@example.com </li>
        </ul>
      </section>

    </main>
  </body>

</html>
