<h2> User Profile </h2>
<button id="toggleButton" name='toggle-visibility'
onClick="toggle('additionalInfo','toggleButton');">Show less info</button>
<ul>
  <li> <strong> First name: </strong> {{user.firstName}} </li>
  <li> <strong> Last name: </strong> {{user.lastName}} </li>
  <span id ="additionalInfo" style="display: inline">
    <li> <strong> Phone: </strong> {{user.phone}} </li>
    <li> <strong> Email: </strong> {{user.email}} </li>
  </span>
</ul>

<h2>Edit User</h2>
<form ng-model="modUser">
  <label> First name
    <input type="text" ng-model="user.firstName"></input>
  </label>
  <label> Last name
    <input type="text" ng-model="user.lastName"></input>
  </label>
  <label> Phone number
    <input type="text" ng-model="user.phone"></input>
  </label>
  <input ng-model="user.email" readonly></input>
  <button type="submit" value="submit" ng-click="editUser(user)">
    Submit
  </button>
</form>

<h2>Delete User</h2>
Delete {{user.firstName}} {{user.lastName}} forever?
<button ng-click="deleteUser(user._id)">
  Delete {{user.firstName}} {{user.lastName}}
</button>
