$body-font-stack: Helvetica, Arial, sans-serif;
$head-font-stack: Garamond, Georgia, serif;

@mixin border-radius ($r1, $r2, $r3, $r4) {
  -webkit-border-radius: $r1 $r2 $r3 $r4;
     -moz-border-radius: $r1 $r2 $r3 $r4;
      -ms-border-radius: $r1 $r2 $r3 $r4;
          border-radius: $r1 $r2 $r3 $r4;
}

@mixin box-shadow($xoffset, $yoffset, $blur, $color) {
  -webkit-box-shadow: $xoffset $yoffset $blur $color;
     -moz-box-shadow: $xoffset $yoffset $blur $color;
          box-shadow: $xoffset $yoffset $blur $color;
}

@mixin clearfix() {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
}

body {
  background-color: #ccc;
}

main {
  font-family: $body-font-stack;
  background-color: #fff;
  width: 800px;
  padding: 1em 1em 2em 1em;
  margin: 0 auto 0 auto;
  @include box-shadow(0.25em, 0.25em, 0.5em, #999);
  @include border-radius(0.5em, 0.5em, 0.5em, 0.5em);
}

header {
  color: #fff;
  background-color: #69c;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  @include border-radius(0.5em, 0.5em, 0, 0);
}

nav {
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: .25em 0 .25em 0;
  background-color: #bdf;
  @include border-radius(0, 0, 0.5em, 0.5em);

  ul {
    padding: 0 0 0 1em;

    li {
      display: inline;
      margin: 0 .5em 0 0;
    }
  }
}

h1, h2 {
  font-family: $head-font-stack;
}

section {

  ul {
    clear: both;

    li {
      margin: .25em 0 .25em 0;
    }
  }

  button {
    float: left;
    position: relative;
    left: 0;
    margin-bottom: 1em;
    margin-left: 2em;
    background-color: #bdf;
    color: #222;
    font-size: .8em;
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    border-color: #bbb #666 #666 #bbb;
    outline: none;
    @include border-radius(.5em, .5em, .5em, .5em);
  }

  button:hover {
    background-color: #9cf;
    color: #000;
    cursor: pointer;
  }

  button:active {
    border-width: 2px 1px 1px 2px;
    border-color: #666 #bbb #bbb #666;
  }

  button:after {
    @include clearfix();
  }
}

label {
  width: 360px;
  display: block;
  margin: .25em 0 .25em 0;
}

input {
  width: 200px;
  float: right;
}

input:after {
  @include clearfix();
}

button {
  margin: .5em 0 .5em 0;
  position: relative;
  left: 160px;
}
