body {
  background-color: #ccc; }

main {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  width: 800px;
  padding: 1em 1em 2em 1em;
  margin: 0 auto 0 auto;
  -webkit-box-shadow: 0.25em 0.25em 0.5em #999;
  -moz-box-shadow: 0.25em 0.25em 0.5em #999;
  box-shadow: 0.25em 0.25em 0.5em #999;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -ms-border-radius: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em; }

header {
  color: #fff;
  background-color: #69c;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -ms-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0; }

nav {
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 0.25em 0 0.25em 0;
  background-color: #bdf;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -moz-border-radius: 0 0 0.5em 0.5em;
  -ms-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em; }
  nav ul {
    padding: 0 0 0 1em; }
    nav ul li {
      display: inline;
      margin: 0 0.5em 0 0; }

h1, h2 {
  font-family: Garamond, Georgia, serif; }

section ul li {
  margin: 0.25em 0 0.25em 0; }

label {
  width: 360px;
  display: block;
  margin: 0.25em 0 0.25em 0; }

input {
  width: 200px;
  float: right; }

input:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden; }

button {
  margin: 0.5em 0 0.5em 0;
  position: relative;
  left: 160px; }
